<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<h1>GENDER QUESTION Page<h1>
<h2>Hey, I been wonderin' - does your bear have a gender?</h2>
<button><a href= {% url "name" %}>It's a boy!</a></button>
<br>
<br>
<button><a href= {% url "name" %}>It's a girl!</a></button>
<br>
<br>
<button><a href= {% url "name" %}>Gender is a social construct from which I defiantly abstain!</a></button>
<br>
<br>
<button><a href= {% url "diy_page" %}>I'll think up my own damned name, pal!</a></button>
</body>
</html>
