<html>
<head>
  <title>Bearacter Generator</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<h1>WELCOME TO THE HONEY HEIST BEARACTER GENERATOR</h1>
<ol>
  <li>Description of the game - link to game</li>
  <li>Description of the app</li>
  </ol>
<button><a href={% url "stats" %}>Click to roll your stats</a></button>
<br>
<br>
<button><a href= {% url "monicker" %}>button to navigate to name generator page</a></button>
</body>
</html>
