<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}style.css"/>
</head>
<body>
<button><a href= {% url "index" %}>Home</a></button>
<h2>Badda-BOOM! Hey get a load of you, ya stinkin':</h2>
  <h2><ul>
      <li>{{personality_stat}}</li>
      <li>{{bear_types_stat}}</li>
      <li>{{criminal_roles_stat}}</li>
  </ul></h2>
<br>
<h2> {{postStat}}</h2>
<button><a href= {% url "stats" %}>Re-roll</a></button>
<br>
<br>
<button><a href= {% url "gender_question" %}>Make a name for yerself!</a></button>
</body>

</html>
