<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<h1> STATS PAGE </h1>
<h2> The Roll page button leads to this page</h2>
<h3> Your 3 bear stats will be listed here. As will a button to re-roll and advance to Name Page.</h3>
<button><a href= {% url "index" %}>Home</a></button>

<button>Someday you will click to re-roll (which leads back here)</button>
<button><a href= {% url "name" %}>Name page</a></button>
</html>
